video#homeHeadBackgroundVideo { 
    position: fixed;
    top: 54%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
#homeVidOverlay{
    position:absolute;
    float:left;
    width:100%;
    min-height:100%;
    background-color:#fff;
    left:0;
    opacity:.3;
}
.menuWrap {    
    position: fixed;
    z-index: 111111;
}
.story {
    cursor: pointer;
}
.story h1 {
    margin: auto;
    font-family: 'Oswald', arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1.8;
    font-size: 60px;
    color: #fff
}
.story h2 {
    margin: auto;
    font-family: serif;
    letter-spacing: .9;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}
.storyInnerWrap {
    width:60%;
    margin: auto;
    text-align: center;
    padding:500px 100px;
}
#seaDogs {
    background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/Images/backgrounds/seaDog.jpg);
    background-size:cover;
}
#redWolves {
    background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/Images/backgrounds/RedWolf.jpg);
    background-size:cover;
}
@media (max-width: 800px) {
    .storyInnerWrap { padding: 500px 0; }
    #seaDogs { background-position-x: -204px; }
    div#redWolves { background-position-x: -1340px; }
    video#homeHeadBackgroundVideo { left:100%; top:75%; }
    .topMenu {
        float: none;
        width: 90%;
        margin: auto;
    }
}